h1 {
  font-family: monospace;
  text-align: center;
  background-color: #8A9EA0;
  background-position-x: center;
}
h3 {
  font-size: 16px;
  line-height: 2em;
  border-radius: 4px;
  padding: 4px 18px;
  box-sizing: border-box;
}

.btn {
  border-radius: 12px;
  background-color: lightslategrey;
  color: whitesmoke;
  text-align: center;
  float: center;
}

.container {
  position: center;
}